<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="card-img-actions" style="min-height:300px">

        <img src="assets/images/{{product?.thumbnail}}" class="card-img img-fluid" width="96" height="350" alt="">


      </div>
    </div>

    <div class="card-body bg-light text-center">
      <div class="mb-2">
        <h6 class="font-weight-semibold mb-2">
          <a [routerLink]="['/', 'products', product.id]" class="text-default mb-2"
            data-abc="true">{{product?.title}}</a>
        </h6>

        <p class="text-muted" data-abc="true">{{product.category}}</p>
      </div>

      <h3 class="mb-0 font-weight-semibold">${{product.price}}</h3>
      <form>
        <select name="quantity" class="my-4" [(ngModel)]="product.quantity">
          <option *ngFor="let num of quantites" [value]="num">{{num}}</option>
        </select>
      </form>
      <div class="d-flex flex-wrap justify-content-between">
        <button type="button" class="btn btn-primary" [routerLink]="['/', 'products', product.id]"> View details
        </button>

        <!-- <button type="button" class="btn btn-dark" (click)="addItemToCart(product)"><i class="fa fa-cart-plus mr-2"></i>
          Add to cart</button> -->
        <button type="button" class="btn btn-dark" (click)="transferItem(product)"><i class="fa fa-cart-plus mr-2"></i>
          Add to cart</button>
      </div>



    </div>
  </div>
</div>
